<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bienvenido al juego de tennis</h1>
    <form action="/iniciar" method="post">
      <input type="text" name="jugador1" value="">
      <input type="text" name="jugador2" value="">
      <input type="submit" name="jugar" value="jugar">
    </form>
  </body>
</html>
